__pycache__/
*.py[cod]
*.pyo
*.pyd

venv/
.env/
.venv/

.DS_Store
Thumbs.db

.vscode/

*.log

resumeanalyser/backend/sample_job.txt
resumeanalyser/backend/sample_resume.docx
resumeanalyser/backend/sample_resume.pdf

*.sqlite3
*.db
